.mainhead {
    overflow-x: hidden; /* ADD THIS: It forces the browser to hide any horizontal overflow */
  max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 0px;
    margin-top: -110px;
}

.head2 {
    width: 100%;
    
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

@media (max-width: 768px) {
    .mainhead {
        margin-top: 0%;
        display: none;
        flex-direction: column;
        margin-top: -10px;

    }
    .head2{
        width: 100%;
        display: flex;
    }
}